<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>Simple Dictionary</title> -->
    <link rel="stylesheet" type="text/css" href="static/test.css">
    <title>
        CV - Rogier
    </title>
</head>
<body>
    <h3>
        Study
    </h3>
    <p>
        <form action="/hello" method="post">
             Asset Tag:<br>
             <input type = "file" id = "Image">	
             <button onclick="myFunction()">Try it</button>
            <script>
            function myFunction() {
            var x = document.getElementById("Image");
            x.disabled = true;
            }
            </script>
            <input type="submit" value="Submit">
        </form>
    </p>       
    <canvas id="myCanvas" width="640" height="400" style="border:1px solid #000000;">
</canvas>   
<script>
var n = document.getElementById("Image")
var c = document.getElementById("myCanvas");
var ctx = c.getContext("2d");
ctx.font = "30px Arial";
ctx.fillText(n, 10, 50);
</script>        
</body>
</html>
>